Repository Coder-JJ/erp-pc: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint -c ./.eslintrc.prod.json --fix, npx stylelint, prettier --write

modify lintstaged.
  .lintstagedrc
Due: none

add --fix to stylelint.
  .lintstagedrc
Due: none

fix .env
  .env
Due: none

add RESET root reducer.
  nodemon.json
  src/App.tsx
  src/rematch/index.ts
  src/views/CheckIn/Component.tsx
  src/views/CheckIn/index.less
  src/views/CheckIn/index.tsx
  src/views/CheckOut/Component.tsx
  src/views/CheckOut/index.less
  src/views/CheckOut/index.tsx
  src/views/Repository/Component.tsx
  src/views/Repository/index.less
  src/views/Repository/index.tsx
  src/views/Stock/Component.tsx
  src/views/Stock/index.less
  src/views/Stock/index.tsx
  src/views/Supplier/Component.tsx
  src/views/Supplier/FormModal/AddForm.tsx
  src/views/Supplier/FormModal/BaseForm.tsx
  src/views/Supplier/FormModal/index.ts
  src/views/Supplier/index.less
  src/views/Supplier/index.tsx
  src/views/index.ts
Due: npx eslint -c ./.eslintrc.prod.json --fix, npx stylelint, prettier --write

change project name
  package.json
  public/index.html
  src/App.tsx
Due: npx eslint -c ./.eslintrc.prod.json --fix

Signed-off-by: CoderJ <550106786@qq.com>
  public/index.html
  src/App.tsx
  src/components/CustomerSelect/index.tsx
  src/components/GoodsSelect/index.tsx
  src/components/RepositoryGoodsSelect/index.tsx
  src/components/RepositorySelect/index.tsx
  src/rematch/models/checkIn.ts
  src/rematch/models/checkOut.ts
  src/views/CheckIn/Component.tsx
  src/views/CheckIn/FormModal/BaseForm.tsx
  src/views/CheckIn/FormModal/index.less
  src/views/CheckOut copy/Component.tsx
  src/views/CheckOut copy/FormModal/AddForm.tsx
  src/views/CheckOut copy/FormModal/BaseForm.tsx
  src/views/CheckOut copy/FormModal/EditForm.tsx
  src/views/CheckOut copy/FormModal/index.less
  src/views/CheckOut copy/FormModal/index.ts
  src/views/CheckOut copy/index.less
  src/views/Customer/Component.tsx
  src/views/Customer/FormModal/BaseForm.tsx
  src/views/Goods/Component.tsx
  src/views/Goods/FormModal/BaseForm.tsx
  src/views/Repository/Component.tsx
  src/views/Repository/FormModal/BaseForm.tsx
  src/views/Stock/StockDetail/index.tsx
  src/views/Supplier/Component.tsx
  src/views/Supplier/FormModal/BaseForm.tsx
Due: npx eslint -c ./.eslintrc.prod.json --fix, npx stylelint, prettier --write

feat: finish all
  src/components/BillPreview/index.less
  src/components/BillPreview/index.tsx
  src/components/CustomerSelect/index.tsx
  src/rematch/models/bill.ts
  src/rematch/models/checkOut.ts
  src/views/Bill/Component.tsx
  src/views/Bill/index.less
  src/views/CheckOut copy/Component.tsx
  src/views/CheckOut copy/FormModal/AddForm.tsx
  src/views/CheckOut copy/FormModal/BaseForm.tsx
  src/views/CheckOut copy/FormModal/EditForm.tsx
  src/views/CheckOut copy/FormModal/index.less
  src/views/CheckOut copy/FormModal/index.ts
  src/views/CheckOut copy/index.less
  src/views/CheckOut/Component.tsx
  src/views/CheckOut/FormModal/AddForm.tsx
  src/views/CheckOut/FormModal/BaseForm.tsx
  src/views/CheckOut/FormModal/EditForm.tsx
  src/views/PrintBill/Component.tsx
  src/views/PrintBill/index.less
  src/views/PrintCheckout/Component.tsx
  src/views/PrintCheckout/index.less
Due: npx eslint -c ./.eslintrc.prod.json --fix, npx stylelint, prettier --write

fix bugs
  .eslintrc.json
  .eslintrc.prod.json
  .gitignore
  package.json
  src/Layout.less
  src/Layout.tsx
  src/components/BillPreview/index.tsx
  src/components/CustomerSelect/index.tsx
  src/hooks/useCustomers.ts
  src/index.tsx
  src/rematch/models/app.ts
  src/rematch/models/checkOut.ts
  src/views/Bill/Component.tsx
  src/views/Bill/exportExcel.ts
  src/views/CheckIn/Component.tsx
  src/views/CheckOut/Component.tsx
  src/views/CheckOut/FormModal/BaseForm.tsx
  src/views/Customer/Component.tsx
  src/views/Customer/FormModal/AddForm.tsx
  src/views/Customer/FormModal/BaseForm.tsx
  src/views/Goods/Component.tsx
  src/views/Login/Component.tsx
  src/views/PrintBill/index.less
  src/views/PrintCheckout/Component.tsx
  src/views/PrintCheckout/index.less
  yarn.lock
Due: npx eslint -c ./.eslintrc.prod.json --fix, npx stylelint, prettier --write

feat: CheckOut state and bill
  src/Layout.tsx
  src/assets/styles/iconfont/demo_index.html
  src/assets/styles/iconfont/iconfont.css
  src/assets/styles/iconfont/iconfont.eot
  src/assets/styles/iconfont/iconfont.js
  src/assets/styles/iconfont/iconfont.json
  src/assets/styles/iconfont/iconfont.svg
  src/assets/styles/iconfont/iconfont.ttf
  src/assets/styles/iconfont/iconfont.woff
  src/assets/styles/iconfont/iconfont.woff2
  src/components/BillPreview/index.tsx
  src/rematch/models/bill.ts
  src/rematch/models/checkOut.ts
  src/views/Bill/Component.tsx
  src/views/Bill/index.less
  src/views/CheckIn/Component.tsx
  src/views/CheckOut/Component.tsx
  src/views/CheckOut/FormModal/AddForm.tsx
  src/views/CheckOut/FormModal/BaseForm.tsx
  src/views/CheckOut/FormModal/EditForm.tsx
  src/views/CheckOut/StatusModal/index.tsx
  src/views/Customer/Component.tsx
  src/views/Goods/Component.tsx
  src/views/PrintBill/Component.tsx
  src/views/PrintCheckout/Component.tsx
  src/views/Repository/Component.tsx
  src/views/Supplier/Component.tsx
Due: npx eslint -c ./.eslintrc.prod.json --fix, npx stylelint, prettier --write

feat: ReturnGoods
  src/Layout.tsx
  src/components/BillPreview/index.tsx
  src/hooks/useEnterEvent.ts
  src/rematch/models/bill.ts
  src/rematch/models/checkIn.ts
  src/rematch/models/checkOut.ts
  src/rematch/models/customer.ts
  src/rematch/models/goods.ts
  src/rematch/models/index.ts
  src/rematch/models/repository.ts
  src/rematch/models/returnGoods.ts
  src/rematch/models/supplier.ts
  src/utils/getCheckInPrice.ts
  src/utils/getCheckOutPrice.ts
  src/utils/getGoodsPrice.ts
  src/utils/getReturnGoodsPrice.ts
  src/utils/index.ts
  src/views/Bill/Component.tsx
  src/views/CheckIn/Component.tsx
  src/views/CheckIn/FormModal/BaseForm.tsx
  src/views/CheckOut/Component.tsx
  src/views/CheckOut/FormModal/AddForm.tsx
  src/views/CheckOut/FormModal/BaseForm.tsx
  src/views/CheckOut/FormModal/EditForm.tsx
  src/views/Customer/Component.tsx
  src/views/Goods/Component.tsx
  src/views/PrintBill/Component.tsx
  src/views/Repository/Component.tsx
  src/views/ReturnGoods/Component.tsx
  src/views/ReturnGoods/FormModal/AddForm.tsx
  src/views/ReturnGoods/FormModal/BaseForm.tsx
  src/views/ReturnGoods/FormModal/EditForm.tsx
  src/views/ReturnGoods/FormModal/index.less
  src/views/ReturnGoods/FormModal/index.ts
  src/views/ReturnGoods/index.less
  src/views/Supplier/Component.tsx
Due: npx eslint -c ./.eslintrc.prod.json --fix, npx stylelint, prettier --write

feat: Collection
  src/Layout.tsx
  src/components/BillPreview/index.tsx
  src/rematch/models/bill.ts
  src/rematch/models/collection.ts
  src/rematch/models/index.ts
  src/rematch/models/returnGoods.ts
  src/views/Bill/Component.tsx
  src/views/Collection/Component.tsx
  src/views/Collection/FormModal/AddForm.tsx
  src/views/Collection/FormModal/BaseForm.tsx
  src/views/Collection/FormModal/EditForm.tsx
  src/views/Collection/FormModal/index.less
  src/views/Collection/FormModal/index.ts
  src/views/Collection/index.less
  src/views/PrintBill/Component.tsx
  src/views/ReturnGoods/FormModal/BaseForm.tsx
Due: npx eslint -c ./.eslintrc.prod.json --fix, npx stylelint, prettier --write

fix: paid display
  src/components/BillPreview/index.tsx
Due: npx eslint -c ./.eslintrc.prod.json --fix

feat: 2022/05/15
  craco.config.js
  package.json
  src/Layout.tsx
  src/components/BillPreview/index.tsx
  src/components/DatePicker/index.tsx
  src/libs/request.ts
  src/rematch/models/bill.ts
  src/rematch/models/checkIn.ts
  src/rematch/models/checkOut.ts
  src/rematch/models/collection.ts
  src/rematch/models/customerAccount.ts
  src/rematch/models/index.ts
  src/rematch/models/returnGoods.ts
  src/views/Bill/Component.tsx
  src/views/CheckIn/Component.tsx
  src/views/CheckIn/FormModal/BaseForm.tsx
  src/views/CheckOut/Component.tsx
  src/views/CheckOut/FormModal/BaseForm.tsx
  src/views/CheckOut/StatusModal/index.tsx
  src/views/Collection/Component.tsx
  src/views/Collection/FormModal/BaseForm.tsx
  src/views/CustomerAccount/Component.tsx
  src/views/CustomerAccount/FormModal/AddForm.tsx
  src/views/CustomerAccount/FormModal/BaseForm.tsx
  src/views/CustomerAccount/FormModal/EditForm.tsx
  src/views/CustomerAccount/FormModal/index.less
  src/views/CustomerAccount/FormModal/index.ts
  src/views/CustomerAccount/index.less
  src/views/PrintBill/Component.tsx
  src/views/PrintCheckout/Component.tsx
  src/views/ReturnGoods/Component.tsx
  src/views/ReturnGoods/FormModal/BaseForm.tsx
  yarn.lock
Due: npx eslint -c ./.eslintrc.prod.json --fix, npx stylelint, prettier --write

fix: bug
  src/views/Collection/Component.tsx
  src/views/Collection/FormModal/BaseForm.tsx
  src/views/Collection/FormModal/EditForm.tsx
Due: npx eslint -c ./.eslintrc.prod.json --fix

fix: Collection ModalForm
  craco.config.js
  package.json
  src/rematch/models/customerAccount.ts
  src/views/Collection/Component.tsx
  src/views/Collection/FormModal/BaseForm.tsx
  src/views/Collection/ProForm/index.tsx
  src/views/CustomerAccount/Component.tsx
  yarn.lock
Due: npx eslint -c ./.eslintrc.prod.json --fix

Path conditions:
  npx eslint -c ./.eslintrc.prod.json --fix: any of: src/**/*.{js,jsx,ts,tsx}
  npx stylelint: any of: src/**/*.{css,less}
  prettier --write: any of: src/**/*.{css,less}
